@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

body{
    background-color: hsl(30, 38%, 92%);
}

img.mobile{
    width:100%;
    height:auto;
    border-radius: 10px 10px 0 0;
}

img.desktop{
    display: none;
}

.card {
    background-color: white;
    margin: 15px;   
    border-radius: 10px; 
}

.contain {
    padding: 20px 25px 25px;
}

h1, .main-price {
    font-family: "Fraunces", serif;
    font-weight: 700;
}

.heading{
    margin: 10px 0 5px;
}

.main-price{
    color: hsl(158, 36%, 37%);
    margin: 8px 0px 15px;
}

p{
    font-size: 14px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px;
    font-weight: bold;
}

button:hover {
    background-color:  hsl(212, 21%, 14%);
    cursor: pointer;
}

.perfume{
    letter-spacing: 6px;
    font-size: 12px;
}

.perfume, .old-price, p {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
}

.old-price{
    text-decoration: line-through;
    font-size: 14px;
}

.prices{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and (min-width: 676px){
    .card{
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 674px;
        height: 500px;
    }

    img.desktop{
        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    img.mobile{
        display: none;
    }

    .contain {
        padding: 35px;
    }

    .heading {
        font-size: 36px;
        margin: 20px 0px;
    }

    p {
        font-size: 16px;
        margin: 0;
        line-height: 25px;
    }

    .main-price {
        font-size: 36px;
        margin-bottom: 25px;
        margin-top: 19px;
    }

    button {
        padding: 18px;
        font-size: 15px;
    }
}